/* Buttons */

.btn:focus,
.btn:active {
  box-shadow: none !important;
}

.btn-tap:active {
  transform: translateY(2px);
}

/* Forms */

.form-control:focus,
.form-select:focus {
  border-color: #ffc107;
  box-shadow: none !important;
}

.form-check-input:active,
.form-check-input:checked {
  border-color: #ffc107;
  box-shadow: none !important;
}

.form-check-input:focus {
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: none !important;
}

.form-check-input:checked {
  border-color: #ffc107;
  background-color: #ffc107;
}

/* Component Search */

input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
  /* Custom styles */
  height: 16px;
  width: 17px;
  background: url("./app/assets/x-lg.svg");
  cursor: pointer;
}

/* Component Pagination */

.page-link {
  color: #664d03;
  background-color: #fff3cd;
  border-color: rgba(0, 0, 0, 0.125);
  box-shadow: none !important;
}

.page-link:hover,
.page-link:focus {
  color: #664d03;
  background-color: #e6dbb9;
  border-color: rgba(0, 0, 0, 0.125);
}

.page-link.active,
.active > .page-link {
  color: #fff;
  background-color: #664d03;
  border-color: #664d03;
}

/* Other */

.navbar {
  min-height: 60px;
}

.auth-container {
  height: calc(100vh - 80px);
}

.auth-block {
  width: 440px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #ffc107;
}

.item-img {
  transition: all 0.3s linear;
}

.item-img:hover {
  transform: scale(0.9);
}

.cart-items-block {
  max-width: 768px;
  min-width: 280px;
}

.cart-clear:hover {
  color: #000;
}

.cart-clear,
.sort-menu,
.dropdown-item,
.list-group-item {
  cursor: pointer;
}
